<section class="container">
	<div class="col-md-12 heading">
			<i class="fa fa-book fa-3x"></i>
			<span style="font-size: 36px;">Eductaion</span>
	</div>

	<div >
		<div id="unsw" class="col-lg-6">
			<div class="edu-header">
				<img src="css/images/unsw.jpg" width="80px" >
				<span>University of New South Wales</span>
			</div>
			<div class="edu-content">
				<p>Master of Information Technology</p> 
			</div>

		</div>

		<div id="jxust" class="col-lg-6">
			<h5>Jiangxi University Of Science and Technology</h5>
			<br>
			<p>Bachelor of Electronic Engineering</p>
		</div>
	</div>
</section>
