<div class="container" id="portfolio_section">
	<div class="cd-side-navigation">
		<ul>
			<li href="#experience" du-smooth-scroll du-scrollspy >
				<a >
					<i class="fa fa-suitcase fa-2x"></i>
					<br>
					Work Experience
				</a>
			</li>

			<li href="#skills" du-smooth-scroll du-scrollspy>
				<a >
					<i class="fa fa-cogs fa-2x"></i>
					<br>
					Technical Skills
				</a>
			</li>

			<li href="#education" du-smooth-scroll du-scrollspy>
				<a >
					<i class="fa fa-university fa-2x"></i>
					<br>
					Education
				</a>
			</li>

			<li href="#projects" du-smooth-scroll du-scrollspy>
				<a>
					<i class="fa fa-tasks fa-2x"></i>
					<br>
					Projects
				</a>
			</li>
		</ul>
	</div>

	<div id="experience" class="portfolio-panel">
		Work Experience
	</div>

	<div id="skills" class="portfolio-panel">
		Technical Skills
	</div>

	<div id="education" class="portfolio-panel">
		Education
	</div>

	<div id="projects" class="portfolio-panel">
		Project
	</div>



</div>