<!-- Projects -->
<div class="projects-holder black dark clearfix" id="projects" ng-controller="projectsController">
    <!-- Single Project -->
    <div class="single-project animated fade-in"
         data-ng-class="{'fade-in-animation':portfolio}">
        <div class="project-image" >
            <img src="css/images/projects/crantum.jpg" alt="" />
        </div>
        <div class="project-mask">
            <div class="project-info">
                <div class="project-title">Laravel Project</div>
                <div class="project-caption text-blue">Value Added Calculator</div>
                <div class="project-buttons">
                    <a href class="btn btn-blue btn-sm" ng-click="viewDetail()">View it</a> 
                    <a href target="_blank" class="btn btn-default btn-sm">Online version</a>
                </div>
            </div>
        </div>
    </div>

</div>

<style type="text/css">
    #projects{
        width: 100%;
        margin-bottom: 90px;
    }
    .single-project {
        position: relative;
        width: 25%;
        float: left;
        background: #000;
        overflow: hidden;
    }
    
    .single-project a:hover {
        color: inherit;
        text-decoration: none;
    }
    
    .project-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.75);
        opacity: 0;
        visibility: hidden;
        color: #fff;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    
    .single-project:hover .project-mask {
        opacity: 1;
        visibility: visible;
    }
    
    .project-info {
        position: absolute;
        top: 50%;
        right: -100%;
        width: 100%;
        text-align: right;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
        -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
        -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
        -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
    }
    
    .single-project:hover .project-info {
        right: 0;
        opacity: 1;
    } 
    
    .project-title,
    .project-caption,
    .project-buttons {
        padding: 0 20px;
    }
    
    .project-title {
        font-size: 36px;
        font-weight: 100;
    }
    
    .project-caption {
        font-size: 12px;
        font-weight: 500;
    }
    
    .project-buttons {
        border-top: 1px solid rgba(255,255,255,0.2);
        margin-top: 15px;
        padding-top: 15px;
    }

</style>