<section id="skills"> 
	<div class="container ng-scope"> 
		<div class="col-md-12 heading"> 
			<div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }" style="font-size: 36px;"> 
				<span class="skill-header"> I AM</span><span class="text-blue">GOOD AT</span>
			</div> 
		</div>
		<div class="row no-margin">
			<div class="col-md-6"> 
				<h5 class="skill-heading">HTML 5</h5> 
				<div class="current" title="95%"> <span class="bar" data-number="95" style="width: 95%"></span> </div>
			</div>
			<div class="col-md-6"> 
				<h5 class="skill-heading">CSS3</h5>
				<div class="current" title="95%"> 
					<span class="bar" data-number="95" style="width: 95%"></span>
				</div>
			</div> 
			<div class="col-md-6">
				<h5 class="skill-heading">AngularJS</h5>
				<div class="current" title="85%"> <span class="bar" data-number="85" style="width: 85%"></span> </div>
			</div>
			<div class="col-md-6">
				<h5 class="skill-heading">Javascript</h5>
				<div class="current" title="90%"> <span class="bar" data-number="90" style="width: 90%"></span> </div>
			</div>
		</div> 
	</div>
</section>

<style type="text/css">
#skills {
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-color: #262B30;
}


#skills .container {
	padding: 71px 0 54px;
	position: relative;
	z-index: 1;
}

#skills .skill-header {
	color: #fff;
	height: 18px;
	min-width: 140px;
	line-height: 0;
	padding: 5px 20px;
	position: relative;
	margin-top: -68px;
}

#skills .skill-heading {
	font-weight: 600;
	color: #fff;
}

#skills .current {
	display: block;
	height: 45px;
	margin-bottom: 20px;
	position: relative;
	padding: 5px;
	border: 2px solid #25b5f1;
	background: rgba(56,56,56,.8);
}

#skills .current:before {
	color: #fff;
	content: attr(title);
	left: 15px;
	position: absolute;
	top: 10px;
	z-index: 2;
	font-size: 14px;
}

#skills .current .bar {
	background: #25b5f1;
	display: inline-block;
	height: 100%;
	min-width: 164px;
	opacity: .9;
}






</style>